<ng4-loading-spinner xmlns=""> </ng4-loading-spinner>
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card" style="width:22rem">
        <img class="card-img-top" src={{product.pictures}} alt="Card image cap" width=300px; height=300px;>
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <a href="#" class="btn btn-custom" routerLink="/cards/{{product.id}}">View conditions</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="pagination d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage <= 1">
      <a class="page-link" (click)="getProductsByPage(currentPage-1); currentPage = currentPage-1">Previous</a>
    </li>
    <li class="page-item" *ngFor="let page of pages">
      <a class="page-link" (click)="getProductsByPage(page); currentPage = page">{{ page }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage >= total">
      <a class="page-link" (click)="getProductsByPage(currentPage+1); currentPage = currentPage+1">Next</a>
    </li>
  </ul>
</div>
-->
