<div class="container">
  <div class="row pt-3">
    <div class="col-lg-3 m-0 chat-main">
      <div class="row">
        <div class="col-md-12 chat-header rounded-top p-2">
          <div class="row">
            <div class="col-md-2 image">
              <img src="img/img_avatar2.png" class="rounded">
            </div>
            <div class="col-md-7 user-detail pt-2">
              <h6 class="pt-1">Support</h6>
              <i class="fa fa-circle active ml-1" aria-hidden="true"></i>
            </div>
            <div class="col-md-3 options text-right pt-2">
              <i class="fa fa-ellipsis-h mr-1 hide-chat-box"></i>
              <i class="fa fa-times hide-chat-box"></i>
            </div>
          </div>
        </div>
        <div class="col-md-12  chat-content p-0 bg-white border border-top-0">
          <ul class="pl-3 pr-3 pt-1 mb-1">
            <li class="p-2 mb-1 rounded">
              <span class="float-right time">12:00</span>
              <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </li>
            <li class="p-2 mb-1 rounded">
              <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
            </li>
            <li class="p-2 mb-1 rounded">
              <p class="m-0">This is the nice one place in world.</p>
            </li><hr>
            <li class="p-2 mb-1 rounded bg-info text-white">
              <span class="float-right time text-white">12:10</span>
              <p class="m-0">Good Morning.</p>
            </li>
            <li class="p-2 mb-1 rounded">
              <span class="float-right time">12:00</span>
              <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </li>
            <li class="p-2 mb-1 rounded">
              <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
            </li>
            <li class="p-2 mb-1 rounded">
              <p class="m-0">This is the nice one place in world.</p>
            </li><hr>
            <li class="p-2 mb-1 rounded bg-info text-white">
              <span class="float-right time text-white">12:10</span>
              <p class="m-0">Good Morning.</p>
            </li>

          </ul>

          <p class="text-center mb-2 sender font-italic">Stephen</p>
          <div class="msg-box p-2">
            <div class="row">
              <div class="col-md-9">
                <input type="text" class="form-control" placeholder="message ...">
              </div>
              <div class="col-md-3 pl-0">
                <button class="btn btn-success">Send</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('.hide-chat-box').click(function(){
    $('.chat-content').slideToggle();
  });
</script>
